<%- include('../includes/head.ejs') %>

    <link rel="stylesheet" href="/css/product.css">

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

        <main>
            <% if (products.length>0) { %>
                    <div class="grid">
                        <% for (let prods of products) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= prods.productId.title %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="/<%= prods.productId.imageUrl %>" alt="<%= prods.productId.title %>">
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">$
                                        <%= prods.productId.price %>
                                    </h2>
                                    <p class="product__description">
                                        <%= prods.productId.description %>
                                    </p>
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">
                                       Quantity = <%= prods.quantity %>
                                    </h2>
                                </div>
                                
                                <div class="card__content">
                                <!-- <form action="/cart-delete-product" method="POST">
                                    <input type="hidden" value="<%= prods.productId._id %>" name="prodId" >
                                    <input type="hidden" value="<%= prods.productId.price %>" name="price" >
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button class="btn" type="submit">Delete</button>
                                </form> -->

                                <a class="btn" href="/checkout">Order Now</a>
                            </div>
                            </article>
                            <% } %>
                    </div>
                    <hr>
                    <div class="grid">
                        <!-- <form action="/create-order" method="POST">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="btn" type="submit">Order Now!</button>
                        </form> -->
                        <a class="btn" href="/checkout">Order Now</a>
                    </div>
            <% } else { %>

                <h1>No Products in the Cart</h1>

            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>